@import url(~roboto-npm-webfont/full/style.css);
:host {
  color: #202124;
  display: block;
  height: 100%;
  line-height: 1.54;
  overflow: hidden;
  --mdc-theme-primary: #1a73e8;
}
body {
  background: #f8f9fa;
  cursor: default;
}
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, Ubuntu, Arial, sans-serif;
  font-size: 81.25%;
}
button {
  font-family: Roboto, Ubuntu, Arial, sans-serif;
}
/* titles */

h1 {
  flex: 1;
  font-size: 123%;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: normal;
  margin-inline-start: 6px;
  padding-inline-end: 12px;
}

h2 {
  align-items: center;
  align-self: flex-start;
  color: var(--google-grey-refresh-700);
  display: flex;
  font-size: inherit;
  font-weight: 500;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 32px;
}
