#label {
  color: #5f6368;
  display: block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 10px;
  margin-bottom: 8px;
}
#row-container,
#inner-input-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#input-container {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#inner-input-container {
  background-color: #f1f3f4;
  box-sizing: border-box;
  padding: 0;
}
#input {
  -webkit-appearance: none;
  background-color: #f1f2f3;
  border: none;
  color: black;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding-bottom: 6px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-top: 6px;
  text-align: inherit;
  text-overflow: ellipsis;
  width: 100%;
  height: 32px;
}
#underline {
  border-bottom: 2px solid #1a73e8;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity 120ms ease-out, width 0s linear 180ms;
  width: 0;
}
.dialog-input[focused="true"] #label {
  color: #1a73e8;
}
.dialog-input[focused="true"] #underline {
  opacity: 1;
  transition: width 180ms ease-out, opacity 120ms ease-in;
  width: 100%;
}
textarea {
  display: block;
  resize: none;
}
textarea#input {
  height: 72px;
}
